<footer class="footer">
    <p>©2020&nbsp<a href="http://beian.miit.gov.cn" target="_blank">沪ICP备18012661号-1</a>&nbsp<a style="color:#4CAF50;" href="https://www.aliyun.com/minisite/goods?userCode=id54txo0" target="_blank">阿里云</a></p>
    <p><a href="/p/2.html">关于我们</a>-<a href="/p/3.html">免责声明</a>-<a href="/sitemap.xml">网站地图</a>-<a href="https://github.com/fendoudebb" target="_blank">GitHub</a></p>
</footer>
<div class="go-top" title="回到顶部">
    <svg width="16" height="16" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg"
         class="Icon Icon--backToTopArrow" style="height: 16px; width: 16px;">
        <g>
            <path d="M12.036 15.59c0 .55-.453.995-.997.995H5.032c-.55 0-.997-.445-.997-.996V8.584H1.03c-1.1 0-1.36-.633-.578-1.416L7.33.29c.39-.39 1.026-.385 1.412 0l6.878 6.88c.782.78.523 1.415-.58 1.415h-3.004v7.004z"
                  fill-rule="evenodd"></path>
        </g>
    </svg>
</div>
