{% local request_url = ngx.var.uri %}
<div class="header">
    <ul>
        <li>
            <a href="/" title="首页" {% if "/" == request_url then %}style="color: #4CAF50"{% end %}>首页</a>
        </li><li>
        <a href="/message-board.html" title="留言板" {% if "/message-board.html" == request_url then %}style="color: #4CAF50"{% end %}>留言板</a>
    </li><li>
        <a href="/tool/json.html" title="小工具" {% if ngx.re.match(request_url, "/tool/") then %}style="color: #4CAF50"{% end %}>小工具</a>
    </li><li>
        <a href="/english.html" title="英语角" {% if "/english.html" == request_url then %}style="color: #4CAF50"{% end %}>英语角</a>
    </li>
        <!--<a href="https://github.com/fendoudebb" target="_blank" title="Github">Github</a>-->
    </ul>
</div>
<hr>
{% if ngx.ctx.is_mobile then %}
<div style="margin: 0 10px">
    <input class="search-input" placeholder="搜索..." type="search" autocomplete="off" list="custom-datalist">
    <datalist id="custom-datalist">
        <option value="IDEA">PhpStorm/WebStorm/PyCharm</option>
        <option value="Java">Spring Boot</option>
        <option value="OpenResty">Lua</option>
        <option value="PostgreSQL">pgadmin</option>
        <option value="小程序">
    </datalist>
</div>
<hr>
{% end %}