{% local request_url = ngx.var.uri %}
<div class="header">
    <ul>
        <li>
            <a href="/" title="首页">首页</a>
        </li>
        {% if 'message-board.html' == request_url then %}
        <li class="header-a-checked">
            <a href="/message-board.html" style="color: white" title="留言板">留言板</a>
        </li>
        {% else %}
        <li>
            <a href="/message-board.html" title="留言板">留言板</a>
        </li>
        {% end %}

        {% if 'tool/format/json.html' == request_url then %}
        <li class="header-a-checked">
            <a href="/tool/format/json.html" style="color: white" title="小工具">小工具</a>
        </li>
        {% else %}
        <li>
            <a href="/tool/format/json.html" title="小工具">小工具</a>
        </li>
        {% end %}

        {% if 'tool/format/json.html' == request_url then %}
        <li class="header-a-checked">
            <a href="/english.html" style="color: white" title="英语角">英语角</a>
        </li>
        {% else %}
        <li>
            <a href="/english.html" title="英语角">英语角</a>
        </li>
        {% end %}
            <!--<a href="https://github.com/fendoudebb" target="_blank" title="Github">Github</a>-->
    </ul>
<!--    <iframe style="position:absolute;left:10px; top:15px;" src="https://ghbtns.com/github-btn.html?user=fendoudebb&repo=z-blog&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>-->
    <!--<a class="ellipsis"  title="网址导航">网址导航</a>-->
</div>
<hr>
{% if 'smartphone' == ngx.ctx.ua.category or 'mobilephone' == ngx.ctx.ua.category then %}
<form action="#" onsubmit="return false">
    <input class="search-input" placeholder="请输入关键字..." type="search" results="10">
    <button type="button" class="search-button">搜索</button>
</form>
<hr>
{% end %}