<!DOCTYPE html>
<html lang="zh">
<head>
    {(base.html, { title = title, keywords = title, description = title } )}
    <style>
        .content > ul > li {
            border-radius: 6px;
            margin-bottom: 30px;
        }

        .reply-area {
            padding: 8px 12px 6px 12px;
        }

        .reply-btn {
            cursor: pointer;
        }

        .reply-div {
            margin: 20px 0 20px 0;
            padding: 30px;
            text-align: left;
        }
    </style>
</head>
<body>
{(header.html)}
<div class="main">
    <div class="content" style="text-align: center">
        <ul style="text-align: left">
            {% for _, m in ipairs(msg) do %}
            <li>
                <div class="shadow">
                    <div id="{{m.id}}" class="top-area">
                        <span class="nickname-span">{{m.nickname}}</span>
                        <span class="floor-span"><span>{{m.floor}}楼</span> - <span class="reply-btn" onclick="replyMessage({{m.id}}, '{{m.nickname}}')">回复</span></span>
                    </div>
                    {% if m.status == 0 then %}
                    <pre class="content-pre">{{m.content}}</pre>
                    {% else %}
                    <pre class="content-pre content-delete-pre">留言已删除</pre>
                    {% end %}
                    <div class="foot-area">
                        <span class="browse-os-span">{{m.browser}} | {{m.os}}</span>
                        <span class="time-span">{{m.create_ts}}</span>
                    </div>

                    {% if m.replies then %}
                    {% for _, reply in ipairs(m.replies) do %}
                    <div id="{{reply.id}}" class="reply-area">
                        <div class="nickname-span">
                            <span style="color: #4CAF50">{{reply.nickname}}</span><span class="floor-span reply-btn" onclick="replyMessage({{reply.id}}, '{{reply.nickname}}')">回复</span>
                        </div>
                        <pre class="content-pre" style="padding: 8px 0;min-height: 0">回复 <a style="text-decoration:none;color: #4CAF50" href="#{{reply.reply_id}}">@{{reply.reply_nickname}}</a>{% if reply.status == 0 then %} {{reply.content}}{% else %} <span class="content-delete-pre">回复已删除</span>{% end %}</pre>
                        <div>
                            <span class="browse-os-span">{{reply.browser}} | {{reply.os}}</span>
                            <span class="time-span">{{reply.create_ts}}</span>
                        </div>
                    </div>
                    {% end %}
                    {% end %}
                </div>
            </li>
            {% end %}
        </ul>

        {(pagination.html)}

        <div class="shadow" style="margin-top: 20px;padding: 30px;text-align: left">
            <div style="margin-bottom: 20px">
                昵称：
                <label>
                    <input id="nickname" type="text" name="nickname" placeholder="请输入昵称...">
                </label>
            </div>
            <div style="position: relative">
                <textarea id="message" title="评论区" placeholder="请输入留言..."></textarea>
                <button id="submitBtn" class="button" title="留言"
                        onclick="clickFunc($('#submitBtn'), $('#error-hint'), $('#nickname').val(), $('#message').val())">留言</button>
            </div>
            <p id="error-hint" style="color: red;" hidden></p>
        </div>
    </div>
</div>
{(footer.html)}
{(base_js.html)}
<script>
    function replyMessage(id, nickname) {
        $("li>.reply-div").remove();
        let element = document.getElementById(id);
        let li = element.parentElement.parentElement;
        $(li).append(`
<div class="shadow reply-div">
    <div style="margin-bottom: 20px">
        昵称：
        <label>
            <input id="nicknameReply" type="text" name="nickname" placeholder="请输入昵称..." autofocus>
        </label>
    </div>
    <div style="position: relative">
        <textarea id="messageReply" title="评论区" placeholder="回复 @${nickname}"></textarea>
        <button id="submitReplyBtn" class="button" title="回复"
        onclick="clickFunc($('#submitReplyBtn'), $('#errorHintReply'), $('#nicknameReply').val(), $('#messageReply').val(), ${id})">回复</button>
    </div>
    <p id="errorHintReply" style="color: red;" hidden></p>
</div>
        `)
    }

    function strLen(str) {
        var len = 0;
        for (var i = 0; i < str.length; i++) {
            if (str.charCodeAt(i) > 127 || str.charCodeAt(i) === 94) {
                len += 2;
            } else {
                len++;
            }
        }
        return len;
    }

    let clickFunc = function ($submitBtn, $errorHint, nickname, content, reply_id) {
        console.log($errorHint);
        let nicknameLen = strLen(nickname);
        let contentLen = strLen(content);
        if (nicknameLen <= 0 || contentLen <= 0) {
            $errorHint.html("昵称或留言不能为空~");
            $errorHint.show();
            return
        }
        if (nicknameLen > 16) {
            $errorHint.html("昵称长度不能超过16位~");
            $errorHint.show();
            return
        }
        if (contentLen > 1000) {
            $errorHint.html("留言内容不能超过1000位~");
            $errorHint.show();
            return
        }
        $submitBtn.unbind();
        var data = {'nickname': nickname, 'content': content, 'reply_id': reply_id};

        $.ajax({
            method: "POST",
            url: "/leave-a-message",
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data) {
                if (data.code === 0) {
                    // window.location.reload();
                    window.location.href=location.href;
                } else {
                    $errorHint.html(data.msg);
                    $errorHint.show();
                    $submitBtn.bind('click', clickFunc);
                }
            }
        });
    };

</script>
</body>
</html>