<!DOCTYPE html>
<html lang="zh">
<head>
    {(base.html, { title = title, keywords = title, description = title } )}
    <style>
        li.shadow {
            border-radius: 6px;
            margin-bottom: 30px;
        }
        .reply-area {
            padding: 8px 12px 6px 12px;
        }
    </style>
</head>
<body>
{(header.html)}
<div class="main">
    <div class="content" style="text-align: center">
        <ul style="text-align: left">
            {% for _, m in ipairs(msg) do %}
            <li class="shadow">
                <div class="top-area">
                    <span class="nickname-span">{{m.nickname}}</span>
                    <span class="floor-span">{{m.floor}}楼</span>
                </div>
                {% if m.status == 0 then %}
                <pre class="content-pre">{{m.content}}</pre>
                {% else %}
                <pre class="content-pre content-delete-pre">留言已删除</pre>
                {% end %}
                <div class="foot-area">
                    <span class="browse-os-span">{{m.browser}} | {{m.os}}</span>
                    <span class="time-span">{{m.create_ts}}</span>
                </div>

                {% if m.replies then %}
                    {% for _, reply in ipairs(m.replies) do %}
                    <div class="reply-area">
                        <div class="nickname-span"><span style="color: #4CAF50">{{reply.nickname}}</span> 回复 <span style="color: #4CAF50">@{{reply.reply_nickname}}</span></div>
                        <pre class="content-pre"  style="padding: 8px 0;min-height: 0">{{reply.content}}</pre>
                        <div>
                            <span class="browse-os-span">{{reply.browser}} | {{reply.os}}</span>
                            <span  class="time-span">{{reply.create_ts}}</span>
                        </div>
                    </div>
                    {% end %}
                {% end %}
            </li>
            {% end %}
        </ul>

        {(pagination.html)}

        <div class="shadow" style="margin-top: 20px;padding: 30px;text-align: left">
            <div style="margin-bottom: 20px">
                昵称：
                <label>
                    <input id="nickname" type="text" name="nickname" placeholder="请输入昵称...">
                </label>
            </div>
            <div style="position: relative">
                <textarea id="message" title="评论区" placeholder="请输入留言..."></textarea>
                <button id="submitBtn" class="button" title="留言">留言</button>
            </div>
            <p id="error-hint" style="color: red;" hidden></p>
        </div>
    </div>
</div>
{(footer.html)}
{(base_js.html)}
<script>
    function strLen(str) {
        var len = 0;
        for (var i=0; i<str.length; i++) {
            if (str.charCodeAt(i)>127 || str.charCodeAt(i)===94) {
                len += 2;
            } else {
                len ++;
            }
        }
        return len;
    }

    let $submitBtn = $('#submitBtn');

    let clickFunc = function () {
        let $errorHint = $('#error-hint');
        let nickname = $('#nickname').val();
        let content = $('#message').val();
        let nicknameLen = strLen(nickname);
        let contentLen = strLen(content);
        if (nicknameLen <= 0 || contentLen <= 0) {
            $errorHint.html("昵称或留言不能为空~");
            $errorHint.show();
            return
        }
        if (nicknameLen > 16) {
            $errorHint.html("昵称长度不能超过16位~");
            $errorHint.show();
            return
        }
        if (contentLen > 1000) {
            $errorHint.html("留言内容不能超过1000位~");
            $errorHint.show();
            return
        }
        $submitBtn.unbind();
        var data = {'nickname': nickname, 'content': content};

        $.ajax({
            method: "POST",
            url: "/leave-a-message",
            contentType: 'application/json',
            data:JSON.stringify(data),
            success: function (data) {
                if (data.code === 0) {
                    window.location.reload();
                    // window.location.href=window.location.href;
                } else {
                    $submitBtn.bind('click', clickFunc);
                }
            }
        });
    };
    $submitBtn.bind('click', clickFunc);

</script>
</body>
</html>