<!DOCTYPE html>
<html lang="zh">
<head>
    {(base.html, { title = "IP查询", keywords = "IP查询，查询IP，IP归属地", description = "IP查询，查询IP，IP归属地" } )}
</head>
<body>
{(header.html)}
<div class="main">
    {(tools.html)}
    <p>IP查询</p>
    <div class="content" style="text-align: center">
        <div class="shadow" style="padding: 50px">
            <p>当前IP：{{ngx.ctx.client_ip}}</p>
            <div style="width: 300px;display: inline-block">
                <input id="ipInput" class="search-input" placeholder="请输入IP地址" value="{{ngx.ctx.client_ip}}">
                <button id="queryIp" class="shadow button">查询</button>
            </div>
            <p id="result"></p>
        </div>
    </div>
</div>
{(footer.html)}
{(base_js.html)}
<script>
    $('#queryIp').on('click', function () {
        let ip = $('#ipInput').val();
        if (ip == null || ip.length <= 0) {
            $('#result').text('IP地址为空~').css('color', 'red');
            return;
        }
        ip = ip.trim();
        $.ajax({
            method: "POST",
            url: "/query/ip",
            contentType: 'application/json',
            data:JSON.stringify({"ip": ip}),
            success: function (data) {
                if (data.code === 0) {
                    $('#result').text(data.data).css('color','#4CAF50');
                } else if (data.code === 1003 || data.code === 1004) {
                    $('#result').text(data.msg).css('color', 'red');
                }
            }
        });
    });
</script>
</body>
</html>