{% local request_url = ngx.var.uri %}
<div style="margin-bottom: 40px">
    <a class="tool-btn-link" href="/tool/json.html" {% if "/tool/json.html" == request_url then %}style="color: #4CAF50"{% end %}>格式化JSON</a>
    <a class="tool-btn-link" href="/tool/md5.html" {% if "/tool/md5.html" == request_url then %}style="color: #4CAF50"{% end %}>MD5加密</a>
    <a class="tool-btn-link" href="/tool/base64.html" {% if "/tool/base64.html" == request_url then %}style="color: #4CAF50"{% end %}>BASE64加解密</a>
    <a class="tool-btn-link" href="/tool/timestamp.html" {% if "/tool/timestamp.html" == request_url then %}style="color: #4CAF50"{% end %}>时间戳转换</a>
    <a class="tool-btn-link" href="/tool/ip.html" {% if "/tool/ip.html" == request_url then %}style="color: #4CAF50"{% end %}>IP查询</a>
    <a class="tool-btn-link" href="/tool/svg.html" {% if "/tool/svg.html" == request_url then %}style="color: #4CAF50"{% end %}>SVG转CSS</a>
    <a class="tool-btn-link" href="/tool/pwd.html" {% if "/tool/pwd.html" == request_url then %}style="color: #4CAF50"{% end %}>随机密码生成器</a>
</div>