<!DOCTYPE html>
<html lang="zh">
<head>
    {(base.html, { title = topic, keywords = topic, description = topic } )}
    <style>
        .content p {
            margin: 10px 0;
            font-size: 12px;
        }
    </style>
</head>
<body>
{(header.html)}
<div class="main">
    {% if not posts or #posts < 1 then %}
    <div class="content" style="text-align: center">
        <div class="shadow" style="padding: 30px">
            该标签下暂无文章
        </div>
        <div style="margin-top: 20px">
            <button class="shadow button" title="返回首页">
                <a href="/" style="color: #F5F5F5; text-decoration: none;">返回首页</a>
            </button>
        </div>
    </div>
    {% else %}
    <div class="content">
        <ul>
            {% for _, post in ipairs(posts) do %}
            <li class="shadow index-post-item">
                <a href="/p/{{post.id}}.html" class="index-post-title-a ellipsis" title="{{post.title}}">{{post.title}}</a>
                <p class="index-post-desc">{{post.description}}</p>
                <p>
                    <span style="color: #8a8a8a">{{post.create_ts}}，阅读：{{post.pv}}{% if not ngx.ctx.is_mobile then %}，评论：<a href="/p/{{post.id}}.html#post-comment" class="anchor-link-a">{{post.comment_count}}</a>，点赞：<a href="/p/{{post.id}}.html#post-like" class="anchor-link-a">{{post.like_count}}</a>{% end %}{% if post.topics then %}，标签：{% for _, t in ipairs(post.topics) do %}<a href="/topic/{{t}}.html" class="anchor-link-a" title="标签：{{t}}" {% if t == topic then %}style="color:red"{% end %}>{{t}}</a>&nbsp;{% end %}{% end %}</span>
                </p>
            </li>
            {% end %}
        </ul>
        <div style="text-align: center;margin-top: 20px">
            <ul class="pagination">
                <li>
                    {% if cur_page == 1 then %}
                    <a class="disabled" href="javascript:void(0);">上一页</a>
                    {% else %}
                    <a href="?page=1">首页</a>
                    <a href="?page={{cur_page-1}}">上一页</a>
                    {% end %}
                </li>
                {% for i = 1, sum_page do %}
                <li>
                    {% if i > cur_page -4 and i < cur_page + 4 then %}
                    {% if i == cur_page then %}
                    <a class="active disabled" href="javascript:void(0);">{{i}}</a>
                    {% else %}
                    <a href="?page={{i}}">{{i}}</a>
                    {% end %}
                    {% end %}
                </li>
                {% end %}
                <li>
                    {% if cur_page < sum_page then %}
                    <a href="?page={{cur_page+1}}">下一页</a>
                    <a href="?page={{sum_page}}">尾页</a>
                    {% else %}
                    <a class="disabled" href="javascript:void(0);">下一页</a>
                    {% end %}
                </li>
            </ul>
        </div>
    </div>
    {% end %}
    {(sidebar.html)}
</div>
{(footer.html)}
{(base_js.html)}
</body>
</html>